:root{
     --primary-color: #221d1a;   /* café oscuro elegante */
    --secondary-color: #c6a97e; /* dorado suave */
    --bg-color: #f5f1ea;        /* crema */
    --card-color: #ffffff;
    --text-color: #2b2b2b;

    --ocupada: #a44a3f;        /* terracota */
    --disponible: #6b8f71;     /* verde oliva */
    --mantenimiento: #d4a373;  /* arena cálida */
    --limpieza: #7aa6a1;       /* verde-azulado suave */


}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}