
.maintenance-container{
  padding:30px;
  background: var(--bg-color);
}

.maintenance-header{
  width:90%;
  background: var(--card-color);
  padding:18px;
  border-radius:14px;
  box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.filters{
  display:flex;
  flex-wrap:wrap;
  gap:12px;
  align-items:center;
}

/* INPUTS */
.filters input,
.filters select{
  padding:10px 12px;
  border-radius:8px;
  border:1px solid #ddd;
  background:#f9f9f9;
  font-size:14px;
}

.filters input:focus,
.filters select:focus{
  outline:none;
  border:1px solid var(--secondary-color);
}

/* BOTONES */
.btn-add{
  background: var(--secondary-color);
  color:white;
  border:none;
  padding:10px 18px;
  border-radius:10px;
  cursor:pointer;
  font-weight:600;
  transition: all 0.25s ease;
}

.btn-add:hover {
  background:#b89563;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}


.maintenance-table{
  width:90%;
  border-collapse:collapse;
  background:var(--card-color);
  border-radius:10px;
  overflow:hidden;
  box-shadow:0 8px 20px rgba(0,0,0,0.08);
  margin-top:20px;
}


.maintenance-table thead{
  background: var(--primary-color);
  color:white;
}

.maintenance-table th{
  padding:16px;
  text-align:left;
  font-weight:600;
  font-size:14px;
}


.maintenance-table td{
  padding:14px;
  border-bottom:1px solid #eee;
  color:var(--text-color);
  font-size:14px;
}

.maintenance-table tbody tr{
  transition: all 0.2s ease;
}




.priority-alta{
  background: rgba(164, 74, 63, 0.15); 
  color: var(--ocupada);
  font-weight:600;
  padding:5px 10px;

}

.priority-media{
  background: rgba(212, 163, 115, 0.2);
  color: var(--mantenimiento);
  padding:5px 10px;
}

.priority-baja{
  background: rgba(107, 143, 113, 0.2);
  color: var(--disponible);
  padding:5px 10px;
}

/* 📊 ESTADOS */
.status-en-progreso{
  background: rgba(122,166,161,0.2);
  color: var(--limpieza);
  padding:5px 10px;
  font-weight:500;
}

.status-programada{
  background:#ececec;
  color:#555;
  padding:5px 10px;
}

.status-completado{
  background: rgba(107, 143, 113, 0.2);
  color: var(--disponible);
  padding:5px 10px;
}

.status-cancelado{
  background: rgba(164, 74, 63, 0.15); 
  color: var(--ocupada);
  font-weight:600;
  padding:5px 10px;
}

.cancelar-btn{
  background: transparent;
  border:none;
  color: var(--ocupada);
  font-size:30px;
  cursor:pointer;
  transition: color 0.2s ease;
}


.maintenance-table{
  animation: fadeUp 0.5s ease;
}

@keyframes fadeUp{
  from{
    opacity:0;
    transform: translateY(15px);
  }
  to{
    opacity:1;
    transform: translateY(0);
  }
}