
.navbar{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--primary-color);
    padding: 10px 20px;
    box-shadow: 0px 1px 14px 1px #000000;
    position: fixed;
    top: 0;
    width: 90%;
}

.navbar h1{
    font-weight: bold;
    margin-left: 3%;
}

.btn {
    background-color: var(--bg-color);
    color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}