

.RoomCard {
    width: 15%;
    border-radius: 14px;
    padding: 12px;
    color: var(--card-color);
    background: var(--card-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition:  all 0.2s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.RoomCard:hover {
     transform: translateY(-3px);
}


/* HEADER */

.CardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.CardHeader button {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 6px;
    padding: 4px 6px;
    color: white;
    cursor: pointer;
}


.CardBody {
    text-align: center;
    font-size: 14px;
    /* border: 1px solid #eee3d5; */

}

.CardBody p:first-child {
    font-weight: 600;
}


.CardFooter {
    display: flex;
    justify-content: center;
}

.statusButton {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 6px;
    padding: 4px 10px;
    font-size: 12px;
    color: white;
}

.CardSeparator {
    border: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    margin: 5px 0;
}
.Ocupada {
    background-color: var(--ocupada);
    border-left: 6px solid var(--ocupada);
}

.Disponible {
    background-color: var(--disponible);
    border-left: 6px solid var(--disponible);
}

.Mantenimiento {
    background-color: var(--mantenimiento);
    border-left: 6px solid var(--mantenimiento);
}

.Limpieza {
    background-color: var(--limpieza);
    border-left: 6px solid var(--limpieza);
}

