.sidebar {
  background-color: var(--primary-color);
  color: var(--card-color);
  height: 100vh;
  width: 270px;
  min-width: 270px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  box-sizing: border-box;
}

.line {
  width: 100%;
}