.StatusBar {
    padding: 10px 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}

.status{
    padding: 12px 14px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 500;
    color: azure;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 1px solid transparent;
}

.status:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.ocupada{
    background-color: var(--ocupada);
}

.disponible{
    background-color: var(--disponible);
}

.mantenimiento{
    background-color: var(--mantenimiento);
}

.limpieza{
    background-color: var(--limpieza);
}

